<component name="ArtifactManager">
  <artifact type="exploded-war" name="springstu:war exploded">
    <output-path>$PROJECT_DIR$/springstu/target/springstu</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springstu" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springstu/target/springstu/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springstu/web/Web" />
    </root>
  </artifact>
</component>